:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107; 
    --secundario: #0097a7;
    --gris: #757575;   
}

html{
    width: 100%;
    font-size: 62.5%;
}
body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

.titulo{ 
    text-align: center;
    text-size-adjust: 3.8rem; 
    color: var(--oscuro);
    font-weight: bold;
}

.titulo span{
    font-size: 2rem; 
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

.nav-bg{
    background-color: var(--secundario);
}

.navegacion-principal{
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a{
    padding: 1rem;
    text-decoration: none;
    color: var(--blanco);
    font-weight: bold;
    font-size: 2rem;
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

  
 
